*.tar.gz
*.fasl
*~
autoloads.out
/BUILD
/Makefile.local
/RPMS
/SRPMS
/TAGS
/check-mail-virus
/diffs
/diffs.txt
/fi-apps-common
/greyadmin/greyadmin
/maild
/maild-greylist.cl
/maild-suse.spec
/maild.spec
/sync-ext
/test/chroot
